<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <add name="ServidorBD" connectionString="Data Source=SISTEMASM-VAIO\SQLEXPRESS; Initial Catalog=QPDenuncia; User Id=sa; Password=2351916sqL" providerName="Sql.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
